doctype html
html(lang="en")
  head
    title home page 
    //- link(rel='stylesheet', href=`./style.css`)
    style 
        include ./style.css
  
  body
    div.home 
        p homepage
        a(href="/about") about
    div.login-form
        h1 home page
        
