body{
    text-align: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 4;
    padding: 20px;
}
.user{
    padding: 20px;
}

/* Home */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navlinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navlinks li {
    margin-left: 2rem;
}

.navlinks a {
    text-decoration: none; 
    font-size: 1rem;
}
